body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f0f0f0;
}

header {
    padding: 10px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: bold;
}

#filters label {
    margin-right: 20px;
}

.leaflet-popup-content {
    background-color: #222;
    color: #fff;
}

.leaflet-container {
    background: #111;
}
.legend {
    padding: 10px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #333;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 50%;
}
