html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #1c1c1c;
    font-family: Arial, sans-serif;
}

header {
    height: 100px; /* Намаляваме малко височината за повече място */
    background: #111;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.main-container {
    height: calc(100vh - 100px); 
    display: flex;
    width: 100%;
}

#map {
    flex: 3;
    height: 100% !important; /* Усилваме командата */
    min-height: 400px;
}

#news-sidebar {
    flex: 1;
    height: 100%;
    background: #222;
    padding: 20px;
    border-left: 2px solid #444;
    overflow-y: auto;
    box-sizing: border-box;
}
